<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-attr-value-heading" jhiTranslate="demoNgApp.attrValue.home.createOrEditLabel">Create or edit a Attr Value</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="demoNgApp.attrValue.attrName" for="field_attrName">Attr Name</label>
                    <input type="text" class="form-control" name="attrName" id="field_attrName"
                           formControlName="attrName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="demoNgApp.attrValue.attrValue" for="field_attrValue">Attr Value</label>
                    <input type="text" class="form-control" name="attrValue" id="field_attrValue"
                           formControlName="attrValue"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="demoNgApp.attrValue.remark" for="field_remark">Remark</label>
                    <input type="text" class="form-control" name="remark" id="field_remark"
                           formControlName="remark"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
