<div>
    <h2 id="page-heading">
        <span jhiTranslate="demoNgApp.attrValue.home.title">Attr Values</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-attr-value" [routerLink]="['/attr-value/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="demoNgApp.attrValue.home.createLabel">
            Create a new Attr Value
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="attrValues?.length === 0">
        <span jhiTranslate="demoNgApp.attrValue.home.notFound">No attrValues found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="attrValues?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="attrName"><span jhiTranslate="demoNgApp.attrValue.attrName">Attr Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="attrValue"><span jhiTranslate="demoNgApp.attrValue.attrValue">Attr Value</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="remark"><span jhiTranslate="demoNgApp.attrValue.remark">Remark</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let attrValue of attrValues ;trackBy: trackId">
                    <td><a [routerLink]="['/attr-value', attrValue.id, 'view']">{{ attrValue.id }}</a></td>
                    <td>{{ attrValue.attrName }}</td>
                    <td>{{ attrValue.attrValue }}</td>
                    <td>{{ attrValue.remark }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/attr-value', attrValue.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/attr-value', attrValue.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(attrValue)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="attrValues?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
